.nav-top{
    width: 100%;
    display: flex;
    align-items: center;
   background-color: white;
    color: grey;
    
}
.nav-top img{
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}
.search{
    width: 100%;
    margin-left: 35px;
}
.search input{
    width: 90%;
    height: 30px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}
.nav-right{
    display: flex;
    align-items: center;
    
}
.pro{
    display: flex;
    margin-left: 10px;
    gap: 10px;
}
.pro img{
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}
.pro button{
    font-family: Courier, monospace;
    /* background-color: blueviolet; */
    border: 0px;
    border-radius: 25px;
    
}
.employdetails{
    width: 100%;
    /* background-image: url("new/bggg.jpg"); */
    height: 1200px;
    background-size: cover;
}
.employ-main{
    background-color:rgb(197, 170, 170,.5);
    color:rgb(45, 39, 83);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.employe-left{
    width: 50%;
display: flex;
justify-content: end;
}
.employ-right{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  gap: 15px;
}
.employ-right button{
    height: 40px;
    border-radius: 10px;
    border: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.table-main{
    width: 100%;
    /* background-color: black; */
    color: aquamarine;
    display: flex;
    justify-content: center;
    text-align: center;
}
.table-card{
    width: 90%;
    /* filter: invert(100%); */
    color:rgb(45, 39, 83);
margin-top: 20px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* background-color: burlywood; */
}
.edit{
   
    width: 10px;
}
.delete{
    
    width: 10px;
}
table{
    /* background-color: blue; */
    width: 100%;
}
.profo{
    height:35px ;
    
    border-radius: 100%;
}
.reg-top{
    color:rgb(45, 39, 83);
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;

    
    
}
.reg-card{
    
    display: flex;
    /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
    justify-content: center;
    margin-top: 4px;
    /* background-image: url("new/bg1.jpg"); */
    background-size: cover;
}
.form{
    margin-top: 30px;
    /* margin-bottom: 30px; */
    width: 40%;
    color:rgb(45, 39, 83);
    position: relative;
   
    font-size: larger;
    display: flex;
    justify-content: center;
    /* background-color: blueviolet; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.form-main{
    margin: 20px;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color:black ; */
    
}
.btn button{
    background-color:rgba(128, 103, 103, 0.5);
    color:rgb(45, 39, 83);
    border: 0px;
    height: 40px;
    width: 100px;
    border-radius: 15px;
}a{
    text-decoration: none;
    color:rgb(45, 39, 83);
}
